.instructorNames{
    display :flex !important;
    flex-direction :row !important;
    justify-content: space-between;
    width:100% !important ;
}

.instructorName{
    display :flex !important;
    flex-direction :column !important;
    width:48% !important ;
}

.newInstructorBtns{
    margin: auto !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    & button {
        margin: 0 1rem !important;
        font-size: medium;
    }
}

.editInstructorForm{
    display: flex;
    margin-top: 1rem;
}

