.containerNames{
    display :flex !important;
    flex-direction :row !important;
    justify-content: space-between;
    width:100% !important ;
}

.childName{
    display :flex !important;
    flex-direction :column !important;
    width:48% !important ;
}

.newInstructorBtns{
    margin: auto !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    & button {
        margin: 0 1rem !important;
        font-size: medium;
    }
}

.editInstructorForm{
    display: flex;
    margin-top: 1rem;
}

.imgs-placeholder{
    width:200px ;
    height:200px ;
    border-radius: 4px;
    background-color: #c1bfbf;
}

.profileImageSection{
    width: 100% !important;
    margin: 0 !important;
    padding : 0 !important ;
    display: flex;
    flex-direction: row !important ;
    justify-content: space-between;
}

.uploadImageTitle{
    padding : 0 !important;
}

.instructImg{
        width:300px ;
        height:300px ;
        border-radius: 4px;
        margin: auto;
}

.instructorImgContainer{
    display: flex;
    flex-direction: column !important;
    justify-content: center;
}
