/* .space-medium .post-block {
    background-color: var(--custom-light-gray);
} */

.product-item {
    box-shadow: 0 5px 24px 6px rgba(0, 0, 0, 0.06);
}

.space-medium .post-block .post-img {
    height: 270px;
}

.space-medium .post-block .post-img img {
    width: 100%;
    max-height: 280px;
}

.space-medium .post-block .post-content {
    padding: 0 25px 25px 25px;
}

.price-points {
    width: 65%;

    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
}

.price-points .price {
    color: var(--custom-gray);

    font-size: 22px;
    font-weight: 600;
}

.price-points .points {
    color: var(--custom-gray);

    font-size: 20px;
    font-weight: 600;
}

/* add to cart quantity buttons */
.product-item .quantityBtns {
    display: flex;
}

.product-item .quantityBtns .btn {
    width: 42px !important;
    height: 42px;

    border-radius: 2px !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item .quantityBtns .btn .fa {
    font-size: 16px;
}

.product-item .quantityBtns .quantity {
    padding: 6px;
    margin: 0 5px;

    font-weight: bold;
    border-radius: 6px;
}

.cartLoginWarn {
    color: #dc3545;
}

.loginWord {
    color: var(--custom-black);
}

.loginWord:hover {
    cursor: pointer;
    color: var(--custom-yellow);
}


:root {
    --custom-white: #ededed;
    --custom-body-background: #f9f9f9;
    --custom-black: #181c18;
    --custom-gray: #383e38;
    --custom-light-gray: #f2f2f2;
    --custom-yellow: #efd510;
    --custom-dark-yellow: #cfba1a;
    --custom-yellow-shadow: rgb(234, 220, 108);
}