.input-err-msg{
    margin: 1rem 0;
    color : #ff0000;
    font-style: italic;
    font-weight: 500;
}

.imgs-preview{
    width:100% !important;
    display: flex;
    justify-content: space-around !important;
    gap:15px;
    & .productImg{
        width:300px ;
        height:300px ;
        border-radius: 4px;
    }
}

.prodThumbnail{
    width: 50%;
    height: 3rem;
    border-radius: 4px;
}

.newProductBtns{
    margin: auto !important;
    width: 80% !important;
    display:flex !important;
    justify-content: center !important;
    & button {
        margin: 0 1rem !important;
        font-size: medium;
    }
}

.addImagesBtn{
    display: none !important;
    grid-column: span 2;
}

.editImagesBtn{
    border : 1px solid rgb(192, 190, 190);
    border-radius: 4px;
    padding: 0.5rem;
}

.editImages{
    position: relative;
    width: initial !important;
}

/* .editImagesCont{
    width: 100% !important;
} */

.deleteIconCont{
    width: initial !important;
    position: absolute;
    top: -4%;
    right: -6%;
    cursor: pointer;
    color:#ed0000 ;
    padding: 0.2rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    background: #fff;
}

.deleteImgBtn{
    font-size: xx-large !important;
}