.membershipNames{
    display :flex !important;
    flex-direction :row !important;
    justify-content: space-between;
    width:100% !important ;
}

.membershipName{
    display :flex !important;
    flex-direction :column !important;
    width:48% !important ;
}

.newMembershipBtns{
    margin: auto !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    & button {
        margin: 0 1rem !important;
        font-size: medium;
    }
}

.editMembershipForm{
    display: flex;
    margin-top: 1rem;
}

/* .imgs-preview{
    width:100% !important;
    display: flex;
    justify-content: space-around !important;
    gap:15px;
    & img {
        width:300px !important ;
        height:300px !important ;
        border-radius: 4px;
    }
} */

