.card {
    box-shadow: 0 5px 24px 6px rgba(0, 0, 0, 0.06);
}

.card-body,
.card-header {
    padding-inline: 2rem;
}

.memberships .Normal h3 {
    display: inline-block;
    margin-bottom: 30px;

    padding-bottom: 7px;
    border-bottom: 3px solid var(--custom-yellow);
}

.memberships .row {
    margin-bottom: 40px;
}

.memberships .card-header {
    display: flex;
    justify-content: space-between;

    text-transform: none;
}

.memberships .price-points .price {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* .memberships .price-points .points {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;

    text-transform: none;
} */

.memberships .price-points .fa {
    font-weight: 500;
}