.space-medium.product-details {
    padding-top: 40px;
}

.product-details #carouselExampleIndicators {
    padding-bottom: 90px;
}

.carousel-control-next,
.carousel-control-prev {
    top: -90px;
}


.product-details .carousel-indicators {
    left: 0;
    right: auto;
    bottom: 45px;

    margin-left: 2%;
}

.product-details .carousel-indicators button {
    width: 80px;
    max-height: 60px;
}

.product-details .price {
    font-size: 26px;
    font-weight: 600;

    margin-bottom: 10px;
}

.product-details .points {
    font-size: 22px;
    font-weight: 600;
}

.author-block {
    margin-top: 5px;
    margin-bottom: 0;
}

@media only screen and (min-width:992px) {
    .product-details .widget {
        min-height: 60vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* add to cart quantity buttons */
.product-details .quantityBtns {
    display: flex;
    justify-content: center;
}

.product-details .quantityBtns .btn {
    width: 42px !important;
    height: 42px;

    border-radius: 2px !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product-details .quantityBtns .btn .fa {
    font-size: 16px;
}

.product-details .quantityBtns .quantity {
    margin: 8px;
}