.form {
    text-align: left;
    margin: auto;
    width: 40%;
}

@media (max-width:992px) {
    .form {
        width: 70%;
    }
}

.form-btns {
    display: flex;
    justify-content: space-evenly;
}

.input-err-msg {
    margin-top: 1.5vh;
    color: #ff0000;
    font-style: italic;
    font-weight: 500;
}

.input-error {
    border-color: #ff0000;
}

.input-error:focus {
    border: none;
    box-shadow: 0 0 10px #ff0000;
    outline: 3px solid #ff0000;
}

.form {
    margin-bottom: 3rem;
}

.submit-btn:disabled {
    opacity: 0.35;
}

.spinner-border {
    margin-top: 0.4rem;
    width: 1.5rem;
    height: 1.5rem;
    color: #efd510;
}

.redirect-user {
    text-align: center;
}