.social {
  width: 100%;

  background-color: var(--custom-yellow);
}

.social .social-container {
  width: 120px;

  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.social .social-container a span {
  font-size: 20px;
}

.social .social-container i:hover {
  color: aliceblue;
}

.navbar {
  height: auto;

  background-color: var(--custom-black) !important;
  padding: .3rem 1.2rem;
}

.navbar a {
  color: var(--custom-white) !important;
}

.navbar-nav {
  display: flex;
  align-items: center;

  width: 100%;
}

#navigation ul li.has-sub {
  position: relative;
  top: 0;
}

#navigation ul ul {
  position: absolute;
  left: -9999px;
  z-index: 3;
  top: 16px;

  display: none;
}

#navigation ul li.has-sub:hover ul {
  display: block;
}

.brand-icon {
  width: 120px;
  height: 55px;
  margin: 0.7rem 2rem;
}

.navbar-collapse {
  flex-basis: inherit;
  flex-grow: inherit;
}

.navbar-toggler {
  background-color: var(--custom-yellow);
}

li.nav-item {
  margin: 0 0.4rem;
}

li.nav-item:hover a {
  color: var(--custom-yellow) !important;
}

.user-action button {
  background-color: var(--custom-yellow);
  margin: 0 .5rem;
  font-weight: normal;
}

.user-action a {
  color: #212529;
  text-decoration: none;
  list-style: none;
}

.login-item,
.signup-item {
  min-width: 115px;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav li {
  font-size: 1rem;
}

.nav-link {
  color: white !important
}

.nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: lightgray;
}

.logout {
  cursor: pointer;
}

#navigation ul li.btns {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* margin-left: 50px; */
}

.lang {
  margin-left: 40px;
  margin-right: 40px;
}

.language-btn {
  color: var(--custom-yellow) !important;
  font-weight: bold;
  cursor: pointer;
}


/* Media query for responsive design */
/* @media screen and (max-width: 768px) { */
/* .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav ul {
      margin-top: 1rem;
      gap: 0.5rem;
      flex-direction: column;
    }
  
    .nav li {
      font-size: 0.9rem;
    } */
/* } */

@media screen and (max-width: 991px) {
  .header-wrapper img {
    position: sticky;
    left: 1rem;
    top: 1rem;
  }

  /* .show ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10rem;
  } */

  .user-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .header-btn {
    position: absolute;
    right: 1rem;
    top: .5rem;

    margin-top: 7px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1320px) {
  .header-wrapper ul {
    flex-wrap: wrap;
  }
}


.navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 500;
}

.navbar-nav .nav-link.active {
  color: #f1c40f !important;
}

.lang .btn,
.user-action .btn {
  padding: 8px 10px;
}

@media only screen and (max-width:1255px)and (min-width:1170px) {
  #navigation {
    padding-left: 0;
    padding-right: 0;
  }

  .lang {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width:1170px) and (min-width:992px) {
  #navigation {
    padding-left: 30px;
  }

  #navigation ul li.btns {
    margin-left: 7px;
  }

  .lang {
    margin-left: 0;
  }

  #navigation ul ul {
    top: -5px;
  }
}

@media only screen and (max-width:992px) {
  #navigation {
    padding-left: 30px;
  }

  .navbar-nav {
    align-items: flex-start;
  }

  #navigation ul li.btns {
    flex-direction: column;
    margin-left: 0;
  }

  .lang {
    width: 90px !important;
    margin: 20px 0 0 0;
  }

  .user-action {
    margin: 20px 0 0 0;
  }

  .lang .btn,
  .user-action .btn {
    padding: 5px 8px;
  }

  .navbar .btns .cartIcon {
    margin-top: 24px !important;
    margin-bottom: 10px !important;
  }

  .login-item,
  .signup-item {
    min-width: 80px;
  }

  #navigation ul ul {
    top: -7px;
  }

  .navbar a:has(.brand-icon) {
    width: 100%;
  }

  .brand-icon {
    display: block;
    margin-right: auto;
  }
}

@media only screen and (max-width:620px) {
  #navigation {
    padding-left: 0px;
  }

  .brand-icon {
    margin-left: 10px;
  }
}

/* Cart */
#navigation ul li a:has(.cart) {
  padding: 0 !important;
}

.navbar .btns .cartIcon {
  display: block;
  margin: 0 36px;
}

.navbar .cartIcon .cart {
  position: relative;

  width: 44px;
  height: 44px;

  background-color: var(--custom-dark-gray);
  border: 2px var(--custom-yellow) solid;
  border-radius: 50%;

  display: flex;
  align-items: center;
}

.navbar .cartIcon .fa-shopping-cart {
  position: absolute;
  left: 27%;

  color: var(--custom-yellow);

  transition: 1s all ease;
}

.navbar .cartIcon .cartItemsIcon {
  width: 26px;
  height: 26px;

  position: absolute;
  left: 28px;
  top: 27px;

  background-color: var(--custom-dark-gray);
  color: var(--custom-yellow);

  border: 2px var(--custom-yellow) solid;
  border-radius: 50%;

  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.navbar .cartIcon .cartItemsIcon span {
  position: absolute;
  left: 6px;
}

.navbar .cartIcon:hover .cart,
.navbar .cartIcon:hover .cartItemsIcon {
  background-color: var(--custom-black);
}



:root {
  --custom-white: #ededed;
  --custom-body-background: #f9f9f9;
  --custom-black: #181c18;
  --custom-gray: #383e38;
  --custom-dark-gray: #212529;
  --custom-light-gray: #f2f2f2;
  --custom-yellow: #efd510;
  --custom-dark-yellow: #cfba1a;
  --custom-yellow-shadow: rgb(234, 220, 108);
}