.sliderContainer {
  display: flex;
  height: 25rem;
}

.slider {
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: calc(16 / 9);
  object-fit: cover;
  background-color: black;
}

.sliderImage {
  max-height: 35rem;
  object-fit: fill;
  width: -webkit-fill-available;
}

.slideBtn {
  padding: 0px;
  font-size: 40px;
  width: 64px;
  aspect-ratio: 1;
  border-radius: 32px;
  border: none;
  color: #ffe315;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
}

.slideBtn:hover{
    background-color: #212529
}

.prevB {
  position: absolute;
  top: 37%;
  left: 1%;
  transform: translateY(-50%);
}

.nextB {
  position: absolute;
  top: 37%;
  right: 1%;
}

.pSlides {
  position: absolute;
  top: 20%;
  color: white;
  right: 18%;
  font-size: large;
  line-height: 2.15;
  font-weight: 500;
}

.bulkWork {
  color: #ffe315;
}

.actionBtn {
  position: absolute;
  top: 80%;
  left: 50%;
  color: white;
  border: 2px solid white;
  font-weight: 600;
}

.actionBtn:hover {
  color: #ffe315 !important;
  border-color: #ffe315 !important;
}

@media screen and (max-width: 360px) {
  .slideBtn {
    font-size: 25px;
    width: 32px;
    cursor: pointer;
  }
  .pSlides {
    top: 3%;
    right: 0%;
    font-size: smaller;
    font-weight: 100;
  }
  .actionBtn {
    position: absolute;
    top: 35%;
    left: 40%;
    font-weight: 100;
  }
}

@media screen and (min-width: 361px) and (max-width: 600px) {
  .slideBtn {
    font-size: 30px;
    width: 54px;
  }
  .pSlides {
    margin: 0 3rem;
    position: absolute;
    top: 7%;
    color: white;
    right: 10%;
    font-size: small;
    font-weight: 300;
  }
  .actionBtn {
    top: 50%;
    left: 45%;
    font-weight: 300;
  }
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
    .slideBtn{
        font-size: 40px;
        width: 64px;
    }
    .pSlides{
        margin: 0 5rem;
        top: 20%;
        right: 18%;
        font-weight: 400;
    }
    .actionBtn{
        top:75%;
        left: 40%;
        font-weight: 400;
    }
  }
