@font-face {
  font-family: 'Gotham';
  src: url('../public/fontsbulk/Gotham-Medium\(1\).ttf') format('truetype'),
    url('../public/fontsbulk/GothamBold.ttf') format('truetype'),
    url('../public/fontsbulk/GothamBoldItalic.ttf') format('truetype'),
    url('../public/fontsbulk/GothamBook.ttf') format('truetype'),
    url('../public/fontsbulk/GothamBookItalic.ttf') format('truetype'),
    url('../public/fontsbulk/GothamLight.ttf') format('truetype'),
    url('../public/fontsbulk/GothamLightItalic.ttf') format('truetype'),
    url('../public/fontsbulk/GothamMedium.ttf') format('truetype'),
    url('../public/fontsbulk/Gotham-Black.otf') format('opentype'),
    url('../public/fontsbulk/Gotham-Thin.otf') format('opentype'),
    url('../public/fontsbulk/Gotham-ThinItalic.otf') format('opentype'),
    url('../public/fontsbulk/Gotham-UltraItalic.otf') format('opentype'),
}

body {
  margin: 0;
  font-family: 'Gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}