@font-face {
  font-family: 'Gotham';
  src:  url('../public/Fonts/Gotham-Medium\(1\).ttf') format('truetype'),
        url('../public/Fonts/GothamBold.ttf') format('truetype'),
        url('../public/Fonts/GothamBoldItalic.ttf') format('truetype'),
        url('../public/Fonts/GothamBook.ttf') format('truetype'),
        url('../public/Fonts/GothamBookItalic.ttf') format('truetype'),
        url('../public/Fonts/GothamLight.ttf') format('truetype'),
        url('../public/Fonts/GothamLightItalic.ttf') format('truetype'),
        url('../public/Fonts/GothamMedium.ttf') format('truetype'),
        url('../public/Fonts/Gotham-Black.otf') format('opentype'),
        url('../public/Fonts/Gotham-Thin.otf') format('opentype'),
        url('../public/Fonts/Gotham-ThinItalic.otf') format('opentype'),
        url('../public/Fonts/Gotham-UltraItalic.otf') format('opentype'),
}

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* *{
  border: 2px solid green;
} */

body {
  font-family: 'Gotham',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
